*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    // this define what 1 rem is.
    // 10px of 16px;
    font-size: 62.5%;

    @include respond(tab-land){
        font-size: 56.25%;    //1rem = 9px 9/16
    }
    
    @include respond(tab-port){
        font-size: 50%; //1rem = 8px 8/16
    }

    @include respond(big-desktop){
        font-size: 75%; //1rem = 12, 12/16 
    }
    
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
